.hero {

    color: $pitchBlack;


    @include breakpoint-up(medium) {
        margin-top: 5.3rem;
}

    &__intro {
        font-weight: 500;
        font-size: $font-xlarge;
        margin: 0;
        padding: 0;
        line-height: .8;

        .parent {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            }
            
            .first { grid-area: 1 / 1 / 2 / 2; }
            .second { grid-area: 2 / 2 / 3 / 3; text-align: right; }
            .third { grid-area: 3 / 1 / 4 / 2; ;}
    }

}