.hero {

    color: $pitchBlack;
    margin-top: 5rem;

    @include breakpoint-down(small){
         padding: .5rem;
         margin-top: 2rem;
    }


    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
      }



    &__intro {
        font-weight: 500;
        font-size: $font-xlarge;
        margin: 0;
        padding: 0;
        line-height: .8;


        .first { 
        
        }

        .second { 
            text-align: right;    
            z-index: 1;
            margin-top: 1.5rem;
        }
        
        .third { 
            
            font-family: 'Black Junkiest', sans-serif;
            font-size: $font-xxlarge;
            color: $accentOrange; 
            text-align: right; 
            
        }

    }

}