$pitchBlack: hsl(0, 0%, 10%);
$accentOrange: hsl(13, 88%, 55%);
$lightGray: hsl(0, 0%, 85%);
$darkGray: hsl(0, 0%, 38%);
$offWhite: hsl(0, 0%, 96%);

$font-small: min(max(1rem, 1vw), 20px);
$font-medium: 1.125rem;
$font-large: min(max(1.5rem, 2vw), 40px);
$font-xlarge: min(max(1.8rem, 5vw), 90px);
$font-xxlarge: min(max(5.5rem, 25vw), 300px);

